<header class="fixed top-0 left-0 right-0 z-50 bg-white/90 backdrop-blur-md border-b border-outline-variant transition-all duration-300" id="main-header">
<div class="h-20 max-w-7xl mx-auto px-margin-mobile lg:px-margin flex items-center justify-between">
<div class="flex items-center gap-3">
<a href="/" class="flex items-center">
<img src="https://lh3.googleusercontent.com/aida-public/AB6AXuCkdSwV0Rb7ogIHkVlnM531BoQDQtw_wjOUgUvb134gaJV2t1rhk2IkF0SCugjgLEwMQkCqxRQa-HboO9sWVMfnB8o3XXnz_etEOP8HYr8-f5pwi5Qs7rG5kI1AR29qeCoMAwlsPsYrUNhQai2DQWvFGPxM9XAeW5KkdXzCA8cXRUOpe6SUUd6xOZDY9W6AGqIraYolAlWVV8HHPHwlnAmZv4SJ7ENWdv3zV4fYLEP4zOTGeZ-WXlwFq91rwMHJJSsXvw" alt="EVODA SPORTSWEAR" class="w-[95px] sm:w-[110px] md:w-[125px] h-auto object-contain">
</a>
</div>
<nav class="hidden xl:flex items-center gap-8">
<a class="font-label-nav text-label-nav tracking-wider pb-1 hover:text-black transition-colors" data-path="trang-chu" href="/">TRANG CHỦ</a>
<a class="font-label-nav text-label-nav text-[#595959] font-medium hover:text-[#000000] tracking-wider transition-colors pb-1" data-path="san-pham" href="/san-pham/">SẢN PHẨM</a>
<a class="font-label-nav text-label-nav text-[#595959] font-medium hover:text-[#000000] tracking-wider transition-colors pb-1" data-path="bo-suu-tap" href="/bo-suu-tap/">BỘ SƯU TẬP</a>
<a class="font-label-nav text-label-nav text-[#595959] font-medium hover:text-[#000000] tracking-wider transition-colors pb-1" data-path="ve-chung-toi" href="/ve-chung-toi/">VỀ CHÚNG TÔI</a>
<a class="font-label-nav text-label-nav text-[#595959] font-medium hover:text-[#000000] tracking-wider transition-colors pb-1" data-path="tin-tuc" href="/tin-tuc/">TIN TỨC</a>
</nav>
<div class="flex items-center gap-4 lg:gap-6">
<button aria-label="Search" class="text-on-surface hover:text-primary flex items-center justify-center p-1.5 transition-all duration-300 hover:scale-110"><span class="material-symbols-outlined">search</span></button>
<a class="hidden sm:inline-flex items-center justify-center bg-primary text-on-primary font-label-uppercase text-label-uppercase tracking-wider px-6 py-3.5 hover:bg-white hover:text-primary border border-primary transition-all duration-300" href="/san-pham/">MUA NGAY</a>
</div>
</div>
</header>
